<import file="Header.html" name="the-header"/>
<import file="content/Post.html" name="Post"/>

<template>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
    <the-header $$title="'Hello!'" $$fontColor="color"></the-header>
    <main>
        <post $$title="'Post 1'">
            <default>
                This is a slot fill for $${title} $${color}
            </default>
        </post>
        <post $$title="'Post 2'">
            <default>
                This is a slot fill for $${title} $${color}
            </default>
        </post>
    </main>
    </body>
    </html>
</template>

<style>
    main {
        background-color: blue;
    }

</style>