<import file="Header.html" name="the-header"/>
<import file="content/Post.html" name="Post"/>

<template>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
    <the-header $$title="'Hello!'" $$fontColor="color"></the-header>
    <main>
        <post>
            This is a slot fill for #1
        </post>
        <post>
            This is a slot fill for #2
        </post>
    </main>
    </body>
    </html>
</template>