<import file="Header.html" name="the-header"/>
<import file="content/Post.html" name="Post"/>

<template>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
    <the-header $$title="'Hello!'"></the-header>
    <main>
        <Rendered if="posts.length > 0">
            <ForEach list="peoples" name="person">
                <post>
                    <default>$${title} $${person.name}</default>
                </post>
            </ForEach>
        </Rendered>
    </main>
    </body>
    </html>
</template>