<import file="Header.html" name="the-header"/>
<import file="content/Post.html" name="Post"/>

<template>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>$${title}</title>
    </head>
    <body>
    <the-header $$title="'Hello!'"></the-header>
    <main>
        <Render if="peoples.size() > 0">
            <ForEach collection="peoples" element="person" index="_index">
                <post>
                    <default>$${_index + 1}: $${title} $${person.name()}</default>
                </post>
            </ForEach>
        </Render>
        <Render if="peoples.size() <= 0">
            There was no person found.
        </Render>
    </main>
    </body>
    </html>
</template>

<script>
console.log("hello");


</script>